
<!-- Themefisher Icon font -->
<link rel="stylesheet" href="../theme/plugins/themefisher-font/style.css">
<!-- bootstrap.min css -->
<link rel="stylesheet" href="../theme/plugins/bootstrap/css/bootstrap.min.css">

<!-- Animate css -->
<link rel="stylesheet" href="../theme/plugins/animate/animate.css">
<!-- Slick Carousel -->
<link rel="stylesheet" href="../theme/plugins/slick/slick.css">
<link rel="stylesheet" href="../theme/plugins/slick/slick-theme.css">

<!-- Main Stylesheet -->
<link rel="stylesheet" href="../theme/css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">





<!-- 
      Essential Scripts
      =====================================-->
  
    <!-- Main jQuery -->
    <script src="plugins/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.1 -->
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- Bootstrap Touchpin -->
    <script src="plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
    <!-- Instagram Feed Js -->
    <script src="plugins/instafeed/instafeed.min.js"></script>
    <!-- Video Lightbox Plugin -->
    <script src="plugins/ekko-lightbox/dist/ekko-lightbox.min.js"></script>
    <!-- Count Down Js -->
    <script src="plugins/syo-timer/build/jquery.syotimer.min.js"></script>
  
    <!-- slick Carousel -->
    <script src="plugins/slick/slick.min.js"></script>
    <script src="plugins/slick/slick-animation.min.js"></script>
  
    <!-- Google Mapl -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
    <script type="text/javascript" src="plugins/google-map/gmap.js"></script>
  
    <!-- Main Js File -->
    <script src="js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  


    <!DOCTYPE html>
    <html lang="en">
    
    
    
    
    
    
    
    <!-- molla/category.html  22 Nov 2019 10:02:48 GMT -->
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>FocusFrames</title>
        <meta name="keywords" content="HTML5 Template">
        <meta name="description" content="Molla - Bootstrap eCommerce Template">
        <meta name="author" content="p-themes">
        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="assets/images/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="assets/images/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="assets/images/icons/favicon-16x16.png">
        <link rel="manifest" href="assets/images/icons/site.html">
        <link rel="mask-icon" href="assets/images/icons/safari-pinned-tab.svg" color="#666666">
        <link rel="shortcut icon" href="assets/images/icons/favicon.ico">
        <meta name="apple-mobile-web-app-title" content="Molla">
        <meta name="application-name" content="Molla">
        <meta name="msapplication-TileColor" content="#cc9966">
        <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
        <!-- Plugins CSS File -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <!-- Main CSS File -->
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/plugins/owl-carousel/owl.carousel.css">
        <link rel="stylesheet" href="assets/css/plugins/magnific-popup/magnific-popup.css">
        <link rel="stylesheet" href="assets/css/plugins/nouislider/nouislider.css">
    
      
    </head>
    
    <body>
        <div class="page-wrapper" style="padding: 0;">
            <header class="header"   >
                
                <div class="header-middle sticky-header" style="border-color:rgba(100, 88, 88, 0.877); border-width: 2px;">
                    <div class="container" style="height: 105px;">
                        <div class="header-left">
                           
    
                            <a href="/" class="logo">
                                <img src="assets/images/logo.png" alt="FocusFrames Logo" width="105" height="25">
                            </a>
    
                            <nav class="main-nav">
                                <ul class="menu sf-arrows">
                                    <li class="megamenu-container active">
                                        <a href="/" >Home</a>
                                    </li>
                                    <li>
                                        <a href="/shop" >Shop</a>
                                    </li>
                                    <li>
                                        <!-- <a href="product.html"  >Product</a> -->
                                    </li>
                                    <li>
                      <% if (user != undefined) { %>
                                            <div class="dropdown user-dropdown ml-4">
                                                <a href="/profileDetails">
                                                    <span style="font-size: 18px;"><%= user.fname %></span>
                                                </a>
                                        
                                                
                                            </div><!-- End .user-dropdown -->
                                        <% } else { %>
                                            <div class="wishlist ml-4">
                                                <a href="/login" title="Login">
                                                    <div class="icon">
                                                        <!-- Add your icon here -->
                                                    </div>
                                                    <p></p>
                                                </a>
                                            </div>
                      <%}%>
                                    </li>
                                </ul><!-- End .menu -->
                            </nav><!-- End .main-nav -->
                        </div><!-- End .header-left -->
    
                        <div class="header-right">
                            <div class="icons-container">
                            <div class="header-search" style="color: black; padding-right: 30px;">
                                <a type="submit" class="search-toggle" role="button" title="Search"><i class="icon-search"></i></a>
                                <form action="/shop" method="get">
                                    <div class="header-search-wrapper">
                                        <label for="q" class="sr-only">Search</label>
                                        <input type="text" class="form-control" id="search_input" placeholder="Search Here" name="search" >
                                    </div><!-- End .header-search-wrapper -->
                                </form>
                            </div><!-- End .header-search -->
                           
                            <a id="wishlist-link" href="/wishlist">
                                <span id="wishlist-icon">&#10084;</span>
                              </a>
    
                              <style>
                                #wishlist-icon {
                                    font-size: 24px;
                                    color: rgb(24, 22, 21);
                                    }
    
                              </style>
                              
                             
                            <div class="dropdown cart-dropdown">
                                <a href="/cart" class="dropdown-toggle" role="button"  aria-haspopup="true" aria-expanded="false" >
                                    <i class="icon-shopping-cart"></i>
                                    <% if (typeof user!=='undefined' && user!==null) { %>
                                    <span class="cart-count"><%=(typeof count!=='undefined')?count:""%></span>
                                </a>
    
                                
                            </div><!-- End .cart-dropdown -->
                            <% }%>
    
    
                <% if (typeof user!=='undefined' && user!==null) { %>
                  
                  <div class="wishlist ml-4" >
                    <a href="/logout" title="Logout">
                      <div class="icon">
                         
                      </div>
                      <p>Log out</p>
                    </a>
                  </div><!-- End .compare-dropdown -->
                  <% } else { %>
                    <div class="wishlist ml-4">
                      <a href="/login" title="Login">
                        <div class="icon">
                           
                        </div>
                        <p>Log in</p>
                      </a>
                    </div><!-- End .compare-dropdown -->
                  <% } %> 
                               
                            </div><!-- End .icons-container -->
                        </div><!-- End .header-right -->
                    </div><!-- End .container -->
                </div><!-- End .header-middle -->
            </header><!-- End .header -->
            <!-- <hr class="header-divider"> -->
            <head>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
              </head>
    
              <style>
                .icons-container {
                    display: flex;
                    align-items: center;
                    gap: 30px; /* Adjust the value as needed */
                }
    
                .header-divider {
                    border-top: 1px solid #ddd;
                     margin-top: 20px;
                     
                }
    
            </style>
            </head>
         </div> 

    



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
</head>


<section class="user-dashboard page-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="list-inline dashboard-menu text-center">
					<!-- <li><a href="/dashboard">Dashboard</a></li> -->
					<li><a class="active" href="/profileOrderList">Orders</a></li>
					<li><a href="/profileAddress">Address</a></li>
					<li><a href="/profileDetails">Profile Details</a></li>
          <li><a href="/wallet">Transactions</a></li>

				</ul>
				<div class="dashboard-wrapper user-dashboard">
					<div class="table-responsive">
						<table class="table" id="myTable">
							<thead>
								<tr>
									<th>Order No</th>
									<th>Date</th>
									
									<th>Total Price</th>
									<th>Status</th>
                                    <th>View</th>
									<th>Action</th>
								</tr>
							</thead>
						
							<tbody>
                                <% orders.forEach((order, index) => { %>
                                    <tr>
                                        <td><%= index + 1 %></td>
                                        <td><%= order.orders.createdAt.toLocaleString() %></td>
                                        <td>₹ <%= order.orders.totalPrice %></td>
                                        <td>
                                            <% if (order.orders.orderStatus === 'Placed') { %>
                                                <span class="label label-primary" style="background-color: rgb(22, 139, 255);">Placed</span>
                                            <% } else if (order.orders.orderStatus === 'Delivered') { %>
                                                <span class="label label-primary" style="background-color: rgb(0, 150, 5);">Delivered</span>
                                            <% } else if (order.orders.orderStatus === 'Cancel Requested') { %>
                                                <span class="label label-primary" style="background-color: orange;">Cancel Requested</span>
                                            <% } else if (order.orders.orderStatus === 'Order Cancelled') { %>
                                                <span class="label label-primary" style="background-color: red;">Order Cancelled</span>
                                            <% } else if (order.orders.orderStatus === 'Dispatched') { %>
                                                <span class="label label-primary" style="background-color: purple;">Dispatched</span>
                                            <% } else if (order.orders.orderStatus === 'Return Requested') { %>
                                                <span class="label label-primary" style="background-color: rgb(18, 14, 69);">Return Requested</span>
                                            <% } else if (order.orders.orderStatus === 'Return Accepted') { %>
                                                <span class="label label-primary" style="background-color: rgb(10, 173, 173);">Return Accepted</span>
                                            <% } else if (order.orders.orderStatus === 'Return Declined') { %>
                                                <span class="label label-primary" style="background-color: rgb(235, 20, 20);">Return Declined</span>
                                            <% } else if (order.orders.orderStatus === 'Cancel Accepted') { %>
                                                <span class="label label-primary" style="background-color: rgb(2, 247, 255);">Cancel Accepted</span>
                                            <% } else if (order.orders.orderStatus === 'Cancel Declined') { %>
                                                <span class="label label-primary" style="background-color: rgb(228, 17, 17);">Cancel Declined</span>
                                            <% } %>
                                        </td>
                                        <td><a href="/orderDetails?id=<%=order.orders._id%>" class="btn btn-default">View</a></td>
                                        <% if (order.orders.orderStatus === 'Placed') { %>
                                            <td><a href="#" onclick="canopenPopup()"><i class="fas fa-times"></i> Cancel</a></td>
                                        
                                            <div id="custom-ce-popup" class="custom-popup" style="display: none;">
                                                <span class="custom-close"
                                                    onclick="canclosePopup()">&times;</span>
                                                <div>
                                                    <form action="/cancelOrder" method="post">
                                                        <div
                                                            style="display: flex; justify-content: center; flex-direction: column;">
                                                            <input type="hidden"  name="orderId" value="<%= order.orders._id %>">
                                                            <input type="hidden"  name="status" value="Cancel Requested">
                                                            <textarea name="reason" required
                                                                placeholder="Cancelling Reason"
                                                                class="custom-textarea"></textarea>
                                                            <button   type="submit" value="cancelled"
                                                                class="custom-btn btn-danger">Cancel</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>



                                            <% } else if (order.orders.orderStatus === 'Delivered') { %>
                                                
                                        
                                        
                                                <td><a href="#" onclick="canopenPopup()"><i class="fas fa-times"></i> Return</a></td>
                                        
                                            <div id="custom-ce-popup" class="custom-popup" style="display: none;">
                                                <span class="custom-close"
                                                    onclick="canclosePopup()">&times;</span>
                                                <div>
                                                    <form action="/cancelOrder" method="post">
                                                        <div
                                                            style="display: flex; justify-content: center; flex-direction: column;">
                                                            <input type="hidden"  name="orderId" value="<%= order.orders._id %>">
                                                            <input type="hidden"  name="status" value="Return Requested">
                                                            <textarea name="reason" required
                                                                placeholder="Returning Reason"
                                                                class="custom-textarea"></textarea>
                                                            <button   type="submit" value="Returned"
                                                                class="custom-btn btn-danger">Return</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        
                                                <% } else { %>
                                            <td>....</td>
                                            
                                        <% } %>
                                    </tr>
                                <% }) %>
                            </tbody>
                            
                        
                            
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



<%- include('../layouts/userFooter.ejs')%>






<script>
  $(document).ready(function() {
    $.noConflict();
    $('#myTable').DataTable({
      "paging": true,          // Enable pagination
      "pageLength": 10,        // Number of rows per page
      "lengthMenu": [10, 25, 50, 75, 100],  // Dropdown options for rows per page

    });
  });
  </script>
<script>
    function deleteProduct(cartId, proId,quantity) {
    Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, delete it!',
      timer: 3000
    }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
          url: '/delete-product-cart',
          method: 'DELETE',
          data: {
            cartId: cartId,
            proId: proId,
            quantity,quantity
          },
          success: (response) => {
            if (response.status) {
              location.reload()
            }
          }
        })
      }
    })

  }
</script>


    <!-- 
    Essential Scripts
    =====================================-->
    
    <!-- Main jQuery -->
    <script src="plugins/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.1 -->
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- Bootstrap Touchpin -->
    <script src="plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
    <!-- Instagram Feed Js -->
    <script src="plugins/instafeed/instafeed.min.js"></script>
    <!-- Video Lightbox Plugin -->
    <script src="plugins/ekko-lightbox/dist/ekko-lightbox.min.js"></script>
    <!-- Count Down Js -->
    <script src="plugins/syo-timer/build/jquery.syotimer.min.js"></script>

    <!-- slick Carousel -->
    <script src="plugins/slick/slick.min.js"></script>
    <script src="plugins/slick/slick-animation.min.js"></script>

    <!-- Google Mapl -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
    <script type="text/javascript" src="plugins/google-map/gmap.js"></script>

    <!-- Main Js File -->
    <script src="js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>




    <!-- <script>
        function cancelOrder(orderId, status) {
            Swal.fire({
          title: 'Are you sure to cancel',
          text: "You won't be able to revert this!",
          icon: 'warning',
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, Cancel it!',
          timer: 5000,
          customClass: {
          container: 'swal-wide', // Custom CSS class for the container
            },
        }).then((result) => {
          if (result.isConfirmed) {
            $.ajax({
                url: '/cancelOrder',
                method: 'put',
                data: {
                    orderId: orderId,
                    status: status
                },
                success: (response) => {
                    if (response) {
                        location.reload()
                    }
                   
                }
            });
          }
          
        })
    }
    </script> -->

<script>
     function canopenPopup() {
            document.getElementById('custom-ce-popup').style.display = 'block';
        }

        function canclosePopup() {
            document.getElementById('custom-ce-popup').style.display = 'none';
        }
</script>
   




  </body>
  </html>